{% extends 'head1.html'%}
{% block t2 %}
<div class="col-8">
    <table class="table table-striped table-dark" >
        <h1>Test Data</h1>
        <thead>
            <tr>
                <th>Student</th>
                <th>Date</th>
                <th>Marks</th>
                <!-- Add more table headers if needed -->
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ test.student }}</td>
                    <td>{{ test.test_date }}</td>
                    <td>{{test.marks}}</td>
                    <!-- Add more table cells for additional test fields -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}